/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	height: 100%;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}



header {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header a {
	text-decoration: none;
	cursor: pointer;
}

section {
	margin: 139px 0;
	background-color: #fefefe;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	text-decoration: none;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	text-decoration: none;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	font-weight: bolder;
	color: #000000;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
	margin: auto;
	max-width: 950px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	width: 474px;
}

#introduction article {
	flex: 1;
	padding-left: 72px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin: auto;
	margin-bottom: 1em;
	max-width: 950px;

}

#portfolio {
	position: relative;
}

.gallery {
	width: 100%;
	max-width: 950px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 16px;
}

.gallery img {
	width: 100%;
	height: 100%;
	max-height: 407px;
	object-fit: cover;
}

#filters {
	margin-bottom: 50px;
}

.btn__style {
	font-family: Syne;
	font-weight: bold;
	font-size: 16px;
	border: solid 2px #1D6154;
	border-radius: 60px;
	padding: 9px 20px;
	background: #ffff;
	color: #1D6154;
	cursor: pointer;
}

.btn__style:hover {
	background: #1D6154;
	color: #ffff;
}

.btn__style:focus {
	background: #1D6154;
	color: #ffff;
}

.center__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gap {
	gap: 10px;
}

.hidden_class {
	display: none;
}

.user__connected {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	gap: 12px;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background: #000000;
	color: #ffff;
}

.editBtn {
	display: flex;
	position: absolute;
	border: none;
	background-color: #ffff;
	top: 10px;
	right: 365px;
	gap: 12px;
	cursor: pointer;
}

.logout__btn {
	display: none;
}

.modal__container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 105px;
	background-color: #ffff;
	border-radius: 10px;
	width: 420px;
}

.modal h3 {
	text-align: center;
	font-size: 26px;
	margin-top: 60px;
}

.modal hr {
	border: solid 1px #B3B3B3;
	width: 100%;
	margin-top: 68px;
}

.modal__gallery {
	margin: auto;
	margin-top: 36px;
	display: grid;
	grid-template-columns: 77px 77px 77px 77px 77px;
	grid-gap: 9px;
}

.modal__gallery img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#work__img {
width: 100%;
}

.modal input {
	border: none;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: normal;
	width: 237px;
	height: 36px;
}

.modal__addwork {
	display: flex;
	flex-direction: column;
}

#label__tittle {
	margin-top: 30px;
	color: #3D3D3D;
	font-weight: 500;
}

#label__select {
	margin-top: 21px;
	color: #3D3D3D;
	font-weight: 500;
}

.modal__addwork #input__tittle {
	margin-top: 10px;
	width: 420px;
	height: 51px;
	box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.09);
}

.modal__addwork #select__categories {
	border: none;
	margin-top: 10px;
	width: 420px;
	height: 51px;
	box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.09);
}

.modal__addwork #select__categories::before {
	width: 420px;
	height: 51px;
}

#preview {
	width: 129px;
	height: 169px;
	object-fit: cover;
}

#btn__valid {
	background: #A7A7A7;
	width: 237px;
	font-size: 14px;
}


.delete__btn {
	position: absolute;
	top: 4px;
	right: 4px;
	padding: 1px 4px;
	border: none;
	background: #000;
	border-radius: 2px;
	cursor: pointer;
}

.delete__btn i::before {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	max-width: 9px;
	max-height: 11px;
	font-weight: normal;
	border: none;
}

.btn__closemodal {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 24px;
	height: 24px;
	color: #000;
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.btn__return {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 24px;
	height: 24px;
	color: #000;
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.add__picture__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	width: 420px;
	margin-top: 36px;
	background: #E8F1F6;
}

.add__picture__container i {
	color: #B9C5CC;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 76px;
	margin-top: 13px;
}



.add__picture__container label, #addpicture {
	padding: 10px 33px;
	color: #306685;
	font-weight: bolder;
	background: #CBD6DC;
	border-radius: 50px;
}

.add__picture__container input, #file-upload-button {
	display: none;
}

.add__picture__text {
	color: #444444;
	font-size: 10px;
	margin-top: 7px;
	margin-bottom: 19px;
}

#error-message {
	margin-top: 15px;
}

#login {
	width: 375px;
	margin: auto;
	text-align: center;
	margin-bottom: 355px;
}

#login>* {
	text-align: center;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login h2 {
	margin-bottom: 20px;
	font-size: 30px;
	margin-top: 150px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login p {
	text-decoration: underline;
	cursor: pointer
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
	font-size: 30px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	height: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 2em
}